{% extends "base.html" %}
{% block content %}
<div class="table-responsive">
  <table id="recTable" class="table table-striped table-bordered w-100">
    <thead>
      <tr>
        <th>ID</th>
        <th>FG</th>
        <th>CUSTOMER</th>
        <th>PALLET NO</th>
        <th>PALLET QTY</th>
        <th>RACK NO</th>
        <th>LOCATION</th>
        <th>PALLET SUPPLIER</th>
        <th>PALLET PR NO</th>
        <th>DATE RECEIVED</th>
        <th>PALLET VALIDATION DT</th>
        <th>PALLET RE-VALIDATION DT</th>
        <th>RECEIVED BY</th>
        <th>CONDITION STATUS</th>
        <th>PRODUCTION STATUS</th>
        <th>REMARKS</th>
        <th>EMP ID</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}
