{% extends "base.html" %}
{% block content %}
<div class="table-responsive">
  <table id="recTable" class="table table-striped table-bordered w-100">
    <thead>
      <tr>
        <th>ID</th>
        <th>FG</th>
        <th>CUSTOMER</th>
        <th>ROUTER NO</th>
        <th>RACK NO</th>
        <th>LOCATION</th>
        <th>ROUTER SUPPLIER</th>
        <th>ROUTER PR NO</th>
        <th>DATE RECEIVED</th>
        <th>ROUTER VALIDATION DT</th>
        <th>ROUTER RE-VALIDATION DT</th>
        <th>RECEIVED BY</th>
        <th>CONDITION STATUS</th>
        <th>PRODUCTION STATUS</th>
        <th>REMARKS</th>
        <th>EMP ID</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}
