{% extends "base.html" %}
{% block content %}
<div class="table-responsive">
  <table id="statusTable" class="table table-striped table-bordered w-100">
    <thead>
      <tr>
        <th>FG</th>
        <th>SIDE</th>
        <th>CUSTOMER</th>
        <th>STENCIL NO</th>
        <th>RACK NO</th>
        <th>LOCATION</th>
        <th>STENCIL VALIDATION DT</th>
        <th>STENCIL RE-VALIDATION DT</th>
        <th>TENSION A</th>
        <th>TENSION B</th>
        <th>TENSION C</th>
        <th>TENSION D</th>
        <th>TENSION E</th>
        <th>REMARKS</th>
        <th>STATUS</th>
        <th>EMP ID</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}
